.background{
margin: auto;
position: relative;
width: 645px;
height: 804px;
background: #CF6862;
}
.logo{
position: absolute;
width: 104px;
height: 69px;
left: 24px;
top: 22px;
background: url(img/mbsLogo.PNG);
}
.welcome_text{
    position: absolute;
    width: 276px;
    height: 58px;
    left: 24px;
    top: 124px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}
.short_text_about{
position: absolute;
width: 276px;
height: 32px;
left: 24px;
top: 262px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 15px;
text-align: center;
color: #FFFAFA;
}
.auth_board{
    position: absolute;
    width: 292px;
    height: 326px;
    left: 323px;
    top: 31px;
    background: #1F4F5E;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25); 
}
.login_text{
    position: absolute;
    width: 43px;
    height: 22px;
    left: 383px;
    top: 85px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.password_text{
    position: absolute;
width: 48px;
height: 22px;
left: 383px;
top: 149px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-align: center;
color: #FFFFFF;
}
.login_input{
position: absolute;
width: 171px;
height: 23px;
left: 383px;
top: 113px;
background: #FFFFFF;
border-radius: 26px;
}
.password_input{
position: absolute;
width: 171px;
height: 23px;
left: 383px;
top: 177px;
background: #FFFFFF;
border-radius: 26px;
}
.log_in_button{
position: absolute;
width: 124px;
height: 23px;
left: 407px;
top: 241px;
background: #FFD029;
border-radius: 26px;
}
.or_text{
    position: absolute;
    width: 41px;
    height: 16px;
    left: 448px;
    top: 265px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #55A6BD;  
}
.sign_up_link{
position: absolute;
width: 200px;
height: 22px;
left: 369px;
top: 307px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
text-align: center;
text-decoration-line: underline;
color: #FFFFFF;
}
.for_whom_text{
position: absolute;
width: 253px;
height: 41px;
left: 24px;
top: 350px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}
.single_musician_board{
position: absolute;
width: 170px;
height: 262px;
left: 31px;
top: 432px;
background: #1F4F5E;
box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}
.small_board_1{
position: absolute;
width: 143px;
height: 114px;
left: 45px;
top: 567px;
background: #2F6B7E;
box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}
.group_board{
position: absolute;
width: 170px;
height: 262px;
left: 238px;
top: 432px;
background: #1F4F5E;
box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}
.small_board_2{
position: absolute;
width: 143px;
height: 114px;
left: 251px;
top: 567px;
background: #2F6B7E;
box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}
.customer_board{
position: absolute;
width: 170px;
height: 262px;
left: 445px;
top: 432px;
background: #1F4F5E;
box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}
.small_board_3{
position: absolute;
width: 143px;
height: 114px;
left: 458px;
top: 567px;
background: #2F6B7E;
box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);  
}
.board_text_musician{
position: absolute;
width: 134px;
height: 23px;
left: 49px;
top: 525px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}
.board_text_group{
position: absolute;
width: 134px;
height: 23px;
left: 256px;
top: 525px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}
.board_text_customer{
position: absolute;
width: 134px;
height: 23px;
left: 463px;
top: 525px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}
.single_musician_logo{
position: absolute;
width: 55px;
height: 75px;
left: 89px;
top: 465px;
}
.group_logo{
position: absolute;
width: 155px;
height: 77px;
left: 248px;
top: 463px;
}
.customer_logo{
position: absolute;
width: 68px;
height: 85px;
left: 496px;
top: 455px;
}
