<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>signup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Page description">
    <meta name="keywords" content="page, keywords">
    <meta name="theme-color" content="#000000">
    <meta name="copyright" content="Author">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <meta name="apple-mobile-web-app-title" content="Application Name">
    <meta name="msapplication-TileImage" content="img/favicons/144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="format-detection" content="telephone=no">
    <meta property="og:title">
    <meta property="og:url">
    <meta property="og:type" content="website">
    <meta property="og:image">
    <meta property="og:description">
    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300|Slabo+27px" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="navigation">
            <div class="logo"><a href="index"><img src="/img/index/mbsLogo.PNG"></a></div>
            <nav class="nav">
                <div class="logo"><a href="index"><img src="/img/index/mbsLogo.PNG"></a></div>
                <ul class="nav__list">
                    <li class="nav__list-item"><a class="contact__button" href="login">Войти</a></li>
                </ul>
            </nav>
            <div class="burger">
                <span class="espan"></span>
                <span class="espan"></span>
                <span class="espan"></span>
            </div>
        </div>
    </header>
    <section class="signup">
        <div class="container">
            <div class="caption">
                <div class="caption__img"><img src="/img/signup/mbsLogo.PNG"></div>
            </div>
            <form class="signup__box" action="signup" method="post">
                <div class="signup__box-top">
                    <div class="signup__box-top-title">Регистрация</div>
                    <div class="signup__box-top-img"><img src="/img/signup/instrument.png"></div>
                </div>
                <span class="signup__box-input-error" th:text="${answer}"></span>
                <div class="signup__box-input-field"><span>логин*</span>
                    <input class="signup__box-input" type="text" name="login" required placeholder="Логин">
                </div>
                <div class="signup__box-input-field"><span>адрес электронной почты*</span>
                    <input class="signup__box-input" type="text" name="email" required placeholder="Адрес электронной почты">
                </div>
                <div class="signup__box-input-field"><span>имя*</span>
                    <input class="signup__box-input" type="text" name="firstName" required placeholder="Имя">
                </div>
                <div class="signup__box-input-field"><span>фамилия</span>
                    <input class="signup__box-input" type="text" name="lastName" placeholder="Фамилия">
                </div>
                <div class="signup__box-input-field"><span>город*</span>
                    <input class="signup__box-input" type="text" name="town" required placeholder="Город">
                </div>
                <div class="signup__box-input-field"><span>телефон</span>
                    <input class="signup__box-input" type="number" name="phone"
                           placeholder="Номер телефона">
                </div>
                <div class="signup__box-input-field"><span>пароль*</span>
                    <input class="signup__box-input" type="password" name="password" required placeholder="Пароль">
                </div>
                <div class="signup__box-input-role">
                    <div class="block">
                        <input class="signup__box-input" type="radio" required id="musician" name="role" value="musician">
                        <label for="musician">музыкант</label>
                    </div>
                    <div class="block">
                        <input class="signup__box-input" type="radio" required id="band" name="role" value="band">
                        <label for="band">группа</label>
                    </div>
                    <div class="block">
                        <input class="signup__box-input" type="radio" required id="costumer" name="role" value="costumer">
                        <label for="costumer">заказчик</label>
                    </div>
                </div>
                <div class="signup__box-input-button">
                    <button type="submit" class="submit__button">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </section>
    <script src="/js/libs.min.js"></script>
    <!--    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>-->
    <script src="/js/common.min.js"></script>
</div>
</body>
</html>